/*****************************************************
 
    Numatytųjų naršyklės stiliaus taisyklių perrašymas 
 
******************************************************/

/* Visos išorinės paraštės (margin) lygios 0 */

* {
  margin: 0;
}

/* Šrifto tipo ir dydžio taisyklės visam tinklapiui */

body {
  font-size: 1rem;
}

/* Kelios klasės */

.description {
  background-color: #f3f3f3;
}

/****************************************
 
    Tinklapio antraštė 
 
*****************************************/

/* header: 
    fono spalva: #16A085, 
    teksto - balta.
*/

header.container {
  padding: 30px 10px;
  background-color: #16a085;
  color: white;
  box-sizing: border-box;
  margin: 5px;
}

/* <h1>, esantis <header> dalyje: 
    tekstas: visos didžiosios raidės,
    vidinės paraštės (padding): 20px 0,
*/

header.container > h1 {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 20px 0;
}

/* <h3>, esantis <header> dalyje:
    tarpai tarp raidžių: 0,3 em
*/

header.container > h3 {
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.3em;
  font-weight: 100;
}

/* <nav>, esantis <header> dalyje:
    viršutinis rėmelis: 2px dashed white;
    viršutinė vidinė paraštė: 20px;
*/

header.container nav {
  border-top: 2px dashed white;
  padding-top: 20px;
}

/* nuoroda, esanti <header> dalyje:
    spalva: balta;
    teksto pabraukimo nėra;
*/

header.container a {
  color: white;
  text-decoration: none;
}

/* sąrašas, esantis <header> dalyje:
    sąrašo ženklinimo nėra;
    visos vidinės paraštės lygios 0;
*/

header.container nav ul {
  list-style: none;
  padding: 0;
}

/* 
sąrašas išdėstytas eilutėje:
*/

header nav li {
  display: inline-block;
  width: 150px;
}

/* Pseudo klases nuorodoms, <header> dalyje */

/* :link
    teksto spalva: balta;
*/

header.container a:link {
  color: white;
}

/* :visited 
    teksto spalva: balta;
*/

header.container a:visited {
  color: white;
}

/* :hover
    teksto spalva: balta;
    tesktas pabrauktas;
*/
header.container a:hover {
  color: white;
  text-decoration: underline;
}

/* ---------- */

main > article > section:nth-of-type(1) {
  text-align: center;
  padding: 25px 0;
  font-weight: 500;
}

main > article > section:nth-of-type(1) h3 {
  color: #16a085;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

main > article > section:nth-of-type(1) p {
  font-size: 0.8rem;
  font-weight: bold;
}

/* ---------- */

main > article > section:nth-of-type(2) img {
  display: block;
  margin-left: 10px;
  border: 1px solid #16a085;
}

main > article > section:nth-of-type(2) {
  font-weight: 600;
  margin-bottom: 50px;
}

main > article > section:nth-of-type(2) ul {
  list-style-type: square;
}

main > article > section:nth-of-type(2) h3 {
  color: #16a085;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ---------- */

main > article > section:nth-of-type(3) {
  margin-bottom: 30px;
  font-weight: 600;
}

main > article > section:nth-of-type(3) ol {
  list-style-type: lower-roman;
}

main > article > section:nth-of-type(3) li {
  padding: 3px 0;
}

main > article > section:nth-of-type(3) h3 {
  color: #16a085;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ---------- */

footer {
  background-color: #16a085;
  text-align: center;
  margin: 5px;
  box-sizing: border-box;
  padding: 20px;
}

footer nav {
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

footer nav a {
  color: white;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer h5 {
  font-weight: bold;
  font-size: 0.9rem;
}

footer nav ul {
  /* list-style-position: outside; */
  list-style-position: inside;
}